* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grid-size: 80vh;
	--box-border-color: black;
	--box-filled-color: #333;
}

html {
	font-family: "DejaVu Sans", Arial, sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#grid-btn {
	font-size: 1.5em;
	padding: 10px;
	margin: 16px;
}

#grid-container {
	height: var(--grid-size);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row {
	width: var(--grid-size);
	display: flex;
	flex: 1;
}

.row div {
	border:1px solid var(--box-border-color);
	flex: 1;
}

.filled {
	background-color: var(--box-filled-color);
}
