* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grid-size: 80vw;
}

html {
	font-family: "DejaVu Sans", Arial, sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#grid-container {
	height: var(--grid-size);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row {
	width: var(--grid-size);
	display: flex;
	flex: 1;
}

.row div {
	border:1px solid black;
	flex: 1;
}
