* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "DejaVu Sans", Arial, sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#grid-container {
}

.row {
	display: flex;
}

.row div {
	border:1px solid black;
	width: 40px;
	height: 40px;
}
